

body{
	
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  max-width: 500px;
  margin: auto;
  text-align: center;
  color:white;
  border:1px solid;
  margin-bottom:15px;
  background-color:#00a3d1;
  opacity:80%;
  border-radius:10px;
  
  
  
}
.profile ul{list-style:none;}
.profile li{border-bottom: 1px solid #f0f4f7;
text-align: left;}
.profile  a{
  
  text-decoration: none;
  font-size: 22px;
  color: black;}
.enlace {
  background: none!important;
  color:white;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
 
}

.recu_contrasena{
	display:flex;
	justify-content: space-around;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	
	
	
}

.recu_contrasena_titulo{
	font-family:'Pattaya', sans-serif;
	display:flex;
	justify-content: space-around;
	text-align:center;
	
}

.contrasena{
	color:white !important;
	font-size:18px !important;
	margin-left:35px;
	border:1px solid;
	padding:5px;
	text-decoration: none !important;
}

.contrasena:hover{
	color:#d12e00 !important;
	font-weight: bold;
}

.cuadroActualizar{
	
	 background-image: url("../assets/imagenes/romantica_2.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;
}

.cuadro_perfil{
	background-image: url("../assets/imagenes/login-libros10.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;
}

.inicio_admin{
	background-image: url("../assets/imagenes/edificionoadmin.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;
	  z-index:-1;
	
}

.opciones{
	font-size:18px;
}


.opciones a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 15px 5px 5px 15px  rgba(0, 0, 0, .4);
	filter: none;
	transition: .4s;
	
}

.botonIngresar{
	background-color:#d12e00;
	color:white;
}
.botonIngresar:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px  rgba(0, 0, 0, .4);
	filter: none;
	transition: .6s;
}
.avatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;

 
}
.dropdown{
	 margin-top: -19px;
}
 
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  /*  margin-left: 100px;
    margin-top: 15px;*/
    
}
.form-control-sm {
  /*margin-top: 15px;
    margin-left: 18px;*/
}
.btn-success {
 
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        margin-left: 12px;
         margin-top: 20px;
      
}
.navbar-nav li {
    padding-right: 0;
    padding-left: 0;
  /*  margin-left: 20px;*/
    
    
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
  /*  margin-top: 15px;*/
}
.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}

.pie_pagina{
	background-color:#00a3d1;
	padding-top:40px;
	height:270px;
	width:100%;
	margin-top:150px;
}

.pie_1{
	
	width:100%;
	display:flex;
	justify-content: space-around;
	vertical-align:middle;
	
	font-family:'Pattaya', sans-serif;
}

.pie_1 a{
	color:black;
	font-size:50px;
}
.pie_1 a:hover{
	color:white;
	transition: .6s;
	text-decoration: none;
}
.pie_2{
	
	width:100%;
	color:white;
}
.pie_2 a{
	color:white;
}
.pie_3{
	
	width:100%;
	color:white;
}

.pie_3 a{
	color:white;
}

::placeholder{
	color:#00a3d1;
}


.linea{
	
	padding:20px;
	margin-top:85px;
	
	
	
}
.cuerpo{
	margin-top:85px;
	width:80%;
	padding:20px;
}

.buscador{
	background-color:#00a3d1;
	font-size: 15px;
	width:80px;
	height:40px;
	margin-left:9px;
	margin-top:25px;
	border-radius:10px;
	color:white;
	
	
}

.buscador:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px  rgba(0, 0, 0, .4);
	filter: none;
	transition: .6s;
}

.textoFoto{
	color:white;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
}
.boton_actualizar{
	background-color:#d12e00;
	opacity:80%;
}

.boton_actualizar:hover{
	background-color:#d12e00;
	opacity:100%;
}

.tituloEditar{
	font-family:"Times New Roman", Times, serif;
	font-size:25px;
}

.titulo_libro h4{
	font-family:'Pattaya', sans-serif;
}

.titulo_libro p{
	font-family:"Times New Roman", Times, serif;
}

figcaption{
	font-family:"Times New Roman", Times, serif;
	text-align:center;
}
.boton_generos{
	display:flex;
	justify-content: space-around;
}
.linea2{
	
	margin:25px;
	
	
	
}

.titulo{
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	margin:0px;
	
}

.linea_pie{
	height:250px;
	margin:0px!important;
}

.linea_pie_1{
	display:flex;
	justify-content: space-around;
	text-align:center;
	background-color:#00a3d1;
	margin:0px!important;
	
}

.linea_pie_1 p:hover{
  color:white;	
  transition: .6s;
}

.boton_generos div button:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px  rgba(0, 0, 0, .4);
	filter: none;
	
	line-height:20px;
	font-size:18px;
	transition: .4s;
}

.boton_generos{
	margin:5px;
}

.boton_mapa:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px  rgba(0, 0, 0, .4);
	filter: none;
	display:block;
	padding: 0 10px;
	line-height:50px;
	font-size:18px;
	transition: .4s;
	
}

.boton{
	background-color:#00a3d1;
	border-color:#00a3d1;
	border-radius:25px;
}

.boton:hover{
	background-color:white;
	
	
}

.boton1{
	
	border-color:#d12e00;
	border-radius:25px;
	
}

.boton1:hover{
	
	background-color:#d12e00;
	
}

.boton3{
	
	background-color:#00a3d1;
	color:white;
	border-color:#00a3d1;
	height:45px;
	width:100px;
	border-radius:10px;
}


.boton3:hover{
	
	color:#d12e00;
	background-color:white;
	font-weight: bold;
}

.boton_editar{
	background-color:#00a3d1; 	
	display:block;
  	margin-left: auto;
  	margin-right: auto;
  	height:40px;
  	width:80px;
  	
}


.volver{
	display:flex;
	justify-content: space-around;
	color:white;
	background-color:#00a3d1;
	height:30px;
  	width:80px;
  	margin:auto;
  	border-radius:10px;
  	font-family:"Times New Roman", Times, serif;
  	
}

.volver:hover{
	
	background-color:white; 
	color:#d12e00;
}

.boton_docu{
	display:flex;
	justify-content: space-around;
}

.boton_docu a{
	
	color:white;
	
}

.boton_docu a:hover{
	color:white;
}

.boton_docu button{
	border-radius:10px;
	border:2px solid black;
	background-color:#c00;
	opacity:75%; 
}

.boton_docu button:hover{
	background-color:#c00;
	opacity:100%;
}


.mapa{
	
	padding:45px;
}


:root{
	--facebook:#3b5999;
	--instagram:#e4405f;
	--twitter:#55acee;
}


.redes-container{
	display:flex;
	height:20px;
	
	
}

.redes-container ul li{
	display: inline-block;
	margin:0 5px;
	width:50px;
	height:50px;
	text-align:center;
}

.redes-container ul li a{
	display:block;
	padding: 0 10px;
	background:#333;
	color:#fff;
	line-height:50px;
	font-size:18px;
	box-shadow:0 3px 5px 0px rgba(0,0,0, .2);
	transition: .2s;
}

.redes-container ul:hover a{
	filter: blur(2px);
}

.redes-container ul li a:hover{
	transform: translateY(-3px) scale(1.80);
	box-shadow: 0 5px 5px 0px  rgba(0, 0, 0, .4);
	filter: none;
}

.redes-container ul li .facebook:hover{
	background: var(--facebook);
}

.redes-container ul li .instagram:hover{
	background: var(--instagram);
}

.redes-container ul li .twitter:hover{
	background: var(--twitter);
}

.datos_libro{
	margin-bottom:50px;
}

.paginacion{
	text-align:center;
}

.paginacion li{
	display:inline-block;
	padding:15px;
	font-size:18px;
	
} 

.paginacion li a{
	color:#00a3d1;
	text-decoration: none;
}

.paginacion li a:hover{
	color:#d12e00;
}

.active > a{
	background:#d12e00;
	color:white !important;
	font-size:25px;
	padding:5px;
	 
}
     
     
.bienvenidos{


 margin:0px!important;

}    
   
.tablas th{
	font-family:"Times New Roman", Times, serif;
	border:2px solid white;
	background:#c00;
	color:white;
	text-align:center;	
	
}


.encabezado{
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
	font-family:'Pattaya', sans-serif;
}

.tablas{
 border:2px solid white;
 
}



/* tablas*/

.tablas1:nth-child(odd) {
  background:#05bfd8;
   opacity:75%;
   font-weight: bold;
   color:white;
   
}

.tablas1:nth-child(even) {
  background:#00a3d1;
  opacity:75%;
  font-weight: bold;
   color:white;
  
}

.cubo{
	text-align:center;
}

.tituloAd{
	margin-top:25px;
	margin-bottom:25px;
	font-family:'Pattaya', sans-serif;
}


.botonesAd button{
	color:white;
	background-color:#00a3d1;
	margin:25px;
	padding:15px;
	border-radius:10px;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	
	
	
	
}


.botonesAd button:hover{
	background-color:#d12e00; 
	color:black;
	
}

.botonesAd button a{
	color:white;
	text-decoration:none;
	
}


.insertar{
	width:395px;
	margin-top:-25px;
	margin-bottom:25px;
	background-color:#00a3d1 !important;
	opacity:80%;
	border-radius:25px !important;
	 
	
}

.tituInser{
	margin-top:25px;
	margin-bottom:25px;
	font-family:'Pattaya', sans-serif;
	font-size:45px;
	text-align:center;
	color:white;
	text-shadow: 3px 3px #00a3d1;
}

.tituSecun h3{
	font-family:"Times New Roman", Times, serif;
	color:white;
	
	
}



.nuevosLi{
	background-image: url("../assets/imagenes/login_libros21.jpg");
	 background-repeat:no-repeat;
	 background-size:cover;
	  z-index:-1;
}

.botoninsertar{
	background-color:#c00 !important;
	color:white;

}


.centrado{
	display:flex;
	justify-content: space-around;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
}

.centrado button a{
	
	color:white;
	
}

.centrado button a:hover{
	text-decoration:none;
}

.fijo{
	background-color:#00a3d1;
	height:30px;
  	width:80px;
  	margin:auto;
  	border-radius:10px;
  	font-family:"Times New Roman", Times, serif;
}




.table td, .table th{
	font-size:20px;
}


.text-info{
	font-size:20px;
}

.contrasena1{
	color:white !important;
}

